// ------------------------------------------------------------------------------ //
// PRESETS
// ------------------------------------------------------------------------------ //

$o-website-values-palettes: (
    (
        // Colors
        'color-palettes-name':              'FloraForever',

        // Fonts
        'font':                             'Raleway',
        'headings-font':                    'Playfair Display',
        'navbar-font':                      'Inter',
        'buttons-font':                     'Inter',

        // Buttons outline
        'btn-secondary-outline':            false,

        // Buttons
        'btn-padding-y':                    0.6rem,
        'btn-padding-x':                    1.2rem,
        'btn-padding-x-lg':                 10rem,
        'btn-border-radius':                0.6rem,
        'btn-border-radius-sm':             0.6rem,
        'btn-border-radius-lg':             0.6rem,

        // Header
        'header-template':                  'FloraForever',
        'hamburger-position':               'right',
        'logo-height':                      3rem,
        'fixed-logo-height':                3rem,
        'header-font-size':                 .875rem,

        // Footer
        'footer-template':                  'FloraForever',
    ),
);


// ------------------------------------------------------------------------------ //
// FONTS
// ------------------------------------------------------------------------------ //

$o-theme-font-configs: (
    'Playfair Display': (
        'family':                           ('Playfair Display', sans-serif),
        'url':                              'Playfair+Display:400,400i,800',
        'properties' : (
            'base': (
                'font-size-base':           1rem,
            ),
        ),
    ),
    'Raleway': (
        'family':                           ('Raleway', serif),
        'url':                              'Raleway:300,400,400i,700',
        'properties' : (
            'base': (
                'font-size-base':           1rem,
            ),
        ),
    ),
    'Inter': (
        'family':                           ('Inter', serif),
        'url':                              'Inter:300,400,400i,700',
        'properties' : (
            'base': (
                'font-size-base':           1rem,
            ),
        ),
    ),
    'Sutro': (
        'family':                           ('Sutro', serif),
        'properties' : (
            'base': (
                'font-size-base':           1rem,
            ),
        ),
    ),
);




// ------------------------------------------------------------------------------ //
// COLORS
// ------------------------------------------------------------------------------ //

$o-color-palettes: map-merge($o-color-palettes,
    (
        'FloraForever': (
            'o-color-1':                    #283618,
            'o-color-2':                    #606C38,
            'o-color-3':                    #E9DAC1,
            'o-color-4':                    #FFFCF2,
            'o-color-5':                    #DDA15E,

            //extra colors
            'o-color-6':                    #FFFFFF,
            'o-color-7':                    #000000,
            'o-color-8':                    #374151,

            //specific palettes
            'o-cc1-bg':                     'o-color-4',
            'o-cc1-text':                   'o-color-7',
            'o-cc1-headings':               'o-color-1',
            'o-cc1-link':                   'o-color-2',
            'o-cc1-btn-priamry':            'o-color-1',
            'o-cc1-btn-primary-border':     'o-color-1',
            'o-cc1-btn-secondary':          'o-color-6',
            'o-cc1-btn-secondary-border':   'o-color-6',

            'o-cc2-bg':                     'o-color-3',
            'o-cc2-text':                   var(--700),
            'o-cc2-headings':               'o-color-7',
            'o-cc2-link':                   'o-color-2',
            'o-cc2-btn-primary':            'o-color-2',
            'o-cc2-btn-primary-border':     'o-color-2',
            'o-cc2-btn-secondary':          'o-color-6',
            'o-cc2-btn-secondary-border':   'o-color-6',

            'o-cc3-bg':                     'o-color-1',
            'o-cc3-text':                   'o-color-4',
            'o-cc3-headings':               'o-color-6',
            'o-cc3-link':                   'o-color-4',
            'o-cc3-btn-primary':            'o-color-3',
            'o-cc3-btn-primary-border':     'o-color-3',
            'o-cc3-btn-secondary':          'o-color-4',
            'o-cc3-btn-secondary-border':   'o-color-4',

            'o-cc4-bg':                     'o-color-2',
            'o-cc4-text':                   'o-color-3',
            'o-cc4-headings':               'o-color-6',
            'o-cc4-link':                   'o-color-5',
            'o-cc4-btn-priamry':            'o-color-5',
            'o-cc4-btn-primary-border':     'o-color-5',
            'o-cc4-btn-secondary':          'o-color-6',
            'o-cc4-btn-secondary-border':   'o-color-6',

            'o-cc5-bg':                     'o-color-4',
            'o-cc5-text':                   'o-color-7',
            'o-cc5-headings':               'o-color-1',
            'o-cc5-link':                   'o-color-2',
            'o-cc5-btn-priamry':            'o-color-5',
            'o-cc5-btn-primary-border':     'o-color-5',
            'o-cc5-btn-secondary':          'o-color-6',
            'o-cc5-btn-secondary-border':   'o-color-6',


            'menu':                         1,
            'footer':                       3,
            'copyright':                    3,
        ),
    )
);


$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'FloraForever');
$o-website-values-palette-number: 1;

// ------------------------------------------------------------------------------ //
// SHAPES
// ------------------------------------------------------------------------------ //

$o-bg-shapes: map-merge($o-bg-shapes,
    (
        'illustration': map-merge(
            map-get($o-bg-shapes, 'illustration') or (),
            (
                'hexagons/01': ('position': center center, 'size': auto 100%, 'colors': (1), 'repeat-y': false),
                'curves/01': ('position': center bottom, 'size': 100% auto, 'colors': (2), 'repeat-y': false),
            ),
        ),
    )
);

$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Zigs/06', (4: 3, 5: 1));
$o-bg-shapes: add-extra-shape-colors-mapping('web_editor', 'Zigs/06', 'second', (1: 2, 2: 5));
// $o-bg-shapes: add-footer-shape-colors-mapping('web_editor', 'Airy/12_001', (3: 'footer'));