
header #top_menu{
    li{
        margin-top: 1rem;
    }
    
    a>span::before{
    font-family: "FontAwesome" !important;
    position:relative;
    left: 50%;
    top: -1.25rem;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    @include media-breakpoint-down(md){
        content:"" !important;
        }
    }

    
    a[href="/aboutus"]>span::before{
        content:"\f007";
    } 

    a[href="/"]>span::before{
        content:"\f015";
    }
    
    a[href="/contactus"]>span::before{
        content:"\f0e0";
    } 

    a[href="/lesson"]>span::before{
        content: "\f19d";
    }


}

#home_mansory>.s_image_gallery figure>img[data-index="0"]{
    object-fit: cover;
    min-height: 425px;
    @include media-breakpoint-down(lg){
        min-height: 365px;
    }
}

@font-face {
    font-family: 'Sutro';
    src: url('https://use.typekit.net/vxd0cac.css');
    font-weight: 300;
}